<div class="signin">
  <h2 class="signin-title">Sign in</h2>
  <form class="signin-form" @submit.prevent="onSignin">
    <input
      name="email"
      id="email"
      label="E-mail"
      v-model="email"
      type="email"
      required
    ></input>

    <input
      name="password"
      label="Password"
      v-model="password"
      id="password"
      type="password"
      required
    ></input>      
    <button 
      type="submit" 
      >Sign in</button>
    <button @click="clear">clear</button>
  </form>
</div>