<div class="signin">
  <h2 class="_title">Sign in</h2>
  <form @submit.prevent="onSignin">
    <error v-if="wrongUser" :message="'Wrong password or login'"></error>
    <error v-if="validFull.email" :message="'Empty email field'"></error>
    <error v-if="validCorrect.email" :message="'Invalid email'"></error>
    <error v-if="validFull.password" :message="'Empty password field'"></error>
    <input
      class="_input"
      v-model="email"
      placeholder="Email"
      ></input>
      
    <input
      class="_input"
      v-model="password"
      type="password"
      placeholder="Password"
      ></input>

    <button class="_btn _btn--primary" type="submit">Sign in</button>
    <button class="_btn" @click="clearForm">Clear</button>
  </form>
</div>