.money-account {
	background: #fff;
	z-index: 1;
	font-size: 16px;
}

.money-accountItem {
	padding: 2px 10px;
}

.table-section {
	position: relative;
	min-height: 40px;
}

.table-section .dialog__container {
  position: absolute;
  bottom: 6px;
  left: 4px;
}

.category-container .input-group {
	padding-top: 0;
}

.category-container {
	padding: 0 10px;
}

.spending-table th {
	padding-top: 0 !important;
}

.table-name {
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: lighter;
}

td .btn--icon {
	height: 16px;
	width: 16px;
}
td .btn__content .icon {
	font-size: 13px;
}
table.table tbody td, table.table tbody th {
	height: auto !important;
}

