<div class="transactions">
  <template v-for="user in this.$root.users">
    <h2 class="_title">Transactions</h2>
    <template v-if="user.id === $store.getters.user.id">
      <template v-if="user.data && user.data.transactions">
        
        <table class="transactions-table">
          <thead>
            <tr class="transactions-tr">
              <th class="transactions-th">Date</th>
              <th class="transactions-th">Name</th>
              <th class="transactions-th">Type</th>
              <th class="transactions-th">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr class="transactions-tr" 
              v-for="transaction in Object.keys(user.data.transactions).map(i => user.data.transactions[i])"
              >
              <td class="transactions-td">{{ transaction.date }}</td>
              <td class="transactions-td">{{ transaction.name }}</td>
              <td class="transactions-td">{{ transaction.type }}</td>
              <td class="transactions-td">{{ transaction.amount }}</td>
            </tr>
          </tbody>
        </table>

        
        <modal>
          <div slot="button-name">
            <button class="_btn _btn--primary">Add transaction</button>
          </div>
          <h3 class="_subtitle" slot="modal-title">Add transaction</h3>
          <div slot="modal-form">
            <form ref="transactionForm">
              <input
                class="_input"
                v-model="transactionAmount"
                type="number"
                ></input>
              
              <input
                class="_input"
                v-model="transactionName"
                type="text"
                ></input>
              
              <input 
                class="_input"
                v-model="transactionDate"
                type="date"
                ></input>


              <selector 
                :items="['Other', 'Food', 'Some']"
                :default="'Type'"
              ></selector>

              <!-- <select
                class="_input"
                v-model="transactionType" 
                >
                <option value="Food">Food</option>
                <option value="Other">Other</option>
                <option value="Home">Home</option>
                   <option 
                    v-for="category in spendingsCategory.filter(j => Object.keys(accounts).map(k => accounts[k].name).indexOf(j[0]) === -1 ).map(i => i[0])" 
                    value="category">{{category}}</option> -->
              <!-- <select
                v-model="addAccountType" 
                label="Type" 
                required 
                >
                  <option 
                    v-for="category in spendingsCategory.filter(j => Object.keys(accounts).map(k => accounts[k].name).indexOf(j[0]) === -1 ).map(i => i[0])" 
                    value="category">{{category}}</option>
              </select> -->
            </form>
            <button class="_btn _btn--primary transactions-addNew"
              v-on:click="addTransaction">Add</button>
          </div>
        </modal>

      </template>      
    </template>
  </template>
</div>









  <!-- <modal>
    <div slot="modal-form">
      <form ref="form">
        <select
          v-model="addAccountType" 
          label="Count name" 
          required 
          >
            <option 
              v-for="account in spendingsCategory.filter(j => Object.keys(accounts).map(k => accounts[k].name).indexOf(j[0]) === -1 ).map(i => i[0])" 
              value="account">{{account}}</option>
        </select>
      </form>
      <button 
        @click="addAccount" flat>Add</button>
    </div>
  </modal> -->














              <!-- <v-data-table
                pagination.sync
                v-bind:headers="spendingHeader"
                :rows-per-page-items="[5, 20, 50, { text: 'All', value: -1 }]"
                :items="Object.keys(user.data.spendings).map(i => user.data.spendings[i])"
                item-key="index"
                class="spending-table table-even">
                <template slot="items" scope="props">

                  <td class="pur-date text-xs-left">
                    <button title="delete" class="completed-todos" @click="deleteItem(props.item.thisKey, 'spendings')" icon>
                      <v-icon class="grey--text">delete</v-icon>
                    </button>
                    {{ props.item.date }}
                  </td>

                  <td class="pur-name">
                    <v-edit-dialog> 
                      {{ props.item.name }}
                      <input
                        slot="input"
                        @keyup.enter="newSpendingName($event, props.item.name, props.item.thisKey)"
                        :value="props.item.name"
                      ></input>
                    </v-edit-dialog> 
                  </td>

                  <td class="pur-type text-xs-left">
                    <v-select
                      v-bind:items="spendingsCategory.map(i => i[0])"
                      v-model="props.item.type"
                      @input="newType($event, props.item.thisKey, 'spendings')"
                      single-line
                      auto
                    ></v-select>
                  </td>
                  
                  <td class="pur-cost cost-td text-xs-right">
                    <v-edit-dialog> 
                      {{ props.item.money }}
                      <input
                        slot="input"
                        @keyup.enter="newMoneyCount($event, props.item.thisKey, 'spendings')"
                        :value="props.item.money"
                      ></input>
                    </v-edit-dialog>
                    <span class="cost">{{currency}}</span>
                  </td>
                  </tr>
              </template>      
            </v-data-table> -->
