<transition enter-active-class="animated fadeIn">
  <v-container fluid grid-list-md>
    <h5 class="table-name">Targets</h5>
    <v-layout row wrap>
      <v-flex xs8 class="pa-2">
          <v-list>
            <template v-for="user in this.$root.users">
              <template v-if="user.id === $store.getters.user.id">
                <template v-if="user.data">
                  <template v-for="(todo, key, index) in user.data.todos">
                    <v-list-tile avatar v-bind:key="todo.title">
                      <v-list-tile-action>
                        <v-checkbox append-icon light v-bind:label="null" @click="doneTodo(todo, key)" v-model="todo.ex" color="green lighten-2" light></v-checkbox>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-title>
                          <span class="text--grey">{{+index + 1}}.</span>
                          <v-edit-dialog> 
                            {{ todo.title }}
                            <v-text-field
                              slot="input"
                              @keyup.enter="newTodoTitle($event, todo, key)"
                              :value="todo.title"
                            ></v-text-field>
                          </v-edit-dialog>
                        </v-list-tile-title>
                        <v-list-tile-sub-title v-html="todo.date"></v-list-tile-sub-title>
                      </v-list-tile-content>
                      <v-btn class="delete-todo completed-todos" @click="deleteTodo(todo, key)" icon>
                        <v-icon class="text--grey lighten-1">delete</v-icon>
                      </v-btn>
                    </v-list-tile>
                  </template>
                </template>
              </template>
            </template>
          </v-list>
        <br>
        <v-expansion-panel class="elevation-0 grey-border">
          <v-expansion-panel-content>
            <div slot="header">
              <v-icon>delete_forever</v-icon>
              <template v-for="user in this.$root.users">
                  <span v-if="user.id === $store.getters.user.id">
                  <template v-if="user.data">
                    {{ user.data.doneTodos ? Object.keys(user.data.doneTodos).length : 0}}
                  </template>
                </span>
              </template>
            </div>
            <v-list id="completedTodos">
              <template v-for="user in this.$root.users">
                <span v-if="user.id === $store.getters.user.id">
                  <template v-if="user.data">
                    <template v-for="(todo, key) in user.data.doneTodos">
                      <v-list-tile class="completed-todos" avatar v-bind:key="todo.title" download>   
                        <v-list-tile-content>
                          <v-list-tile-title>
                            {{todo.title}}
                          </v-list-tile-title>
                          <v-list-tile-sub-title v-html="todo.date"></v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-btn class="delete-todo completed-todos" @click="undoComplete(todo, key)" icon>
                          <v-icon class="text--grey lighten-1">undo</v-icon>
                        </v-btn>
                      </v-list-tile>
                    </template>
                  </template>
                </span>
              </template>
            </v-list>
          </v-expansion-panel-content>
        </v-expansion-panel>  
      </v-flex>
      <v-flex xs4>
        <v-container fluid grid-list-md class="pa-2">
          <v-layout row wrap>
            <v-flex>
              <v-form transition="fade-transition" v-model="todoFormValid" ref="todoForm">
                <v-text-field id="todo" label="Todo" v-model="todo" :rules="nameRules" :counter="100" required></v-text-field>
                <v-dialog persistent v-model="modalDate" lazy color="green--title" full-width>
                  <v-text-field slot="activator" label="Date" v-model="datePicker" readonly></v-text-field>
                  <v-date-picker v-model="datePicker" autosave year-icon scrollables>
                    <template scope="{ save, cancel }">
                      <v-card-actions>
                        <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                        <v-btn flat primary @click.native="save()">Save</v-btn>
                      </v-card-actions>
                    </template>
                  </v-date-picker>
                </v-dialog>
                <v-btn icon class="grey lighten-4 green--text" @click="addTodo">
                  <v-icon>add</v-icon>
                </v-btn>
              </v-form>
            </v-flex>
          </v-layout>
        </v-container>
        <v-layout row wrap>
          <v-flex>
            <v-btn error @click="clearTodoList" dark>Clear all todos</v-btn>
            <v-btn error @click="clearDeleteList" dark>Clear all completed</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</transition>