.application--light .navigation-drawer {
	border-right: 1px solid #eee;
	background: #f5f5f5 !important;
}
.application .theme--light.navigation-drawer .list {
	background: #f5f5f5 !important;
}
.white-text {
	color: #fff !important;
}
.application--light {
	background: #fff !important;
}
.application--light .input-group:not(.input-group--error) .input-group__details:before {
	background: rgba(0,0,0,0.10) !important;
}
.user-name {
	padding-right: 10px;
	font-weight: bold;
}
a {
	text-decoration: none;
}
#main-preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.application--light .list .list__tile:not(.list__tile--active) {
	border-bottom: 1px solid #eee;
}
.delete-todo {
	width: 45px !important;
}
.completed-todos {
	opacity: .4;
}
nav {
	position: fixed !important;
}
main {
	padding-top: 64px;
}
.floatR {
	float: right;
}
.user-wrapper {
	font-weight: lighter;
	display: block;
	padding-top: 14px;
}
.list__tile--link {
	font-size: 14px !important;
}
.list__tile--active {
	border-bottom: 1px solid #eee !important;
}