@import './../../components/money/money.css';
@import './../../components/modal/modal.css';
@import './../../components/navigation/navigation.css';

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

.pages {
	position: absolute;
	left: 55px;
	width: calc(100% - 55px);
	top: 0;
}

.btn {
	background: #eee;
	border: 1px solid #ddd;
	color: #000;
}