@import './../../components/money/style.css';
@import './../../components/modal/style.css';
@import './../../components/signin/style.css';
@import './../../components/navigation/style.css';
@import './../../components/transactions/style.css';
@import './../../components/error/style.css';
@import './../../components/preloader/style.css';
@import './../../components/user/style.css';
@import './../../components/selector/style.css';

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}


._btn {
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 7px 10px;
	outline: none;
	font-size: 14px;
	cursor: pointer;
	min-width: 80px;
	margin: 10px 0;
	transition: all 300ms;
}
._btn:hover {
	background: #eee;
}
._btn--primary {
	background: #00C90D;
	color: #fff;
}
._btn--primary:hover {
	background: #00b30a;
}
._btn--warning {
	background: #ff6142;
	color: #fff;
}
._btn--warning:hover {
	background: #fd4422;
}

._input {
	font-size: 14px;
	border-radius: 2px;
	border: 1px solid #ddd;
	padding: 7px 10px;
	width: 250px;
	display: block;
	box-sizing: border-box;
	margin: 10px 0;
}

._title {
	font-size: 24px;
	margin: 0 0 15px 0;
}

._subtitle {
	text-align: center;
	font-size: 20px;
	margin: 0 0 15px 0;
}

._page {
	margin-left: 50px;
	padding: 20px 25px;
}

input[type="date"] {
	font-family: sans-serif;
}