.application--light .navigation-drawer {
	border-right: 1px solid #f1f1f1;
	background: #f5f5f5 !important;
}
.application .theme--light.navigation-drawer .list {
	background: #f5f5f5 !important;
}
.application--light {
	background: #fff !important;
}
.application--light .input-group:not(.input-group--error) .input-group__details:before {
	background: rgba(0,0,0,0.10) !important;
}
.user-name {
	padding-right: 10px;
	font-weight: bold;
}
a {
	text-decoration: none;
}
#main-preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.application--light .list .list__tile:not(.list__tile--active) {
	border-bottom: 1px solid #eee;
}
.delete-todo {
	width: 43px !important;
}
.completed-todos {
	opacity: .6;
}
nav {
	position: fixed !important;
}
main {
	padding-top: 50px;
}
.floatR {
	float: right;
}
.user-wrapper {
	display: block;
	padding-top: 14px;
}
.list__tile--link {
	font-size: 13px !important;
}
.list__tile--active {
	border-bottom: 1px solid #eee !important;
	background: #fefefe;
	color: rgba(0,0,0,.87) !important;
}
.card {
	margin-bottom: 20px;
}
.diary-item {
	padding: 30px 0 15px 0;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}
.diary-p {
	margin-bottom: 0;
	padding: 5px 0;

}
.diary-delete {
	float: right;
}
.navigation-drawer {
	transition: none !important;
}
.modal-id {
	display: none;
}
.dialog, .menu__content {
	box-shadow: none !important;
}
.cost-td {
	font-weight: bold !important;
}
.list__tile .avatar, .list__tile__action {
	min-width: 33px !important;
}
.navigation-drawer--permanent.navigation-drawer--open:not(.navigation-drawer--right):not(.navigation-drawer--clipped):not(.navigation-drawer--floating)~.toolbar, .navigation-drawer--permanent.navigation-drawer--open:not(.navigation-drawer--right)~.footer:not(.footer--fixed):not(.footer--absolute), .navigation-drawer--permanent.navigation-drawer--open:not(.navigation-drawer--right)~main, .navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open:not(.navigation-drawer--right):not(.navigation-drawer--clipped):not(.navigation-drawer--floating)~.toolbar, .navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open:not(.navigation-drawer--right)~.footer:not(.footer--fixed):not(.footer--absolute), .navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open:not(.navigation-drawer--right)~main {
	padding-left: 150px !important;
}
.navigation-drawer {
	width: 150px !important;
}
.cash-text {
	float: right;
	padding: 10px 0;
}
nav {
	/*z-index: 10 !important;*/
}
.light-text {
	font-weight: lighter !important;
}
.all-sum {
	position: fixed;
	right: 0;
	background: #fff;
	padding: 0 15px;
	top: 50px;
	z-index: 1;
	font-size: 16px;
	border-bottom-left-radius: 2px;
	white-space: nowrap;
	/*box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);*/
}

.application .theme--light.input-group--selection-controls .icon, 
.application .theme--light.input-group--selection-controls:not(.input-group--active) .input-group__input {
	color: rgba(0,0,0,.20);
}

.input-group--text-field input, 
.input-group--text-field textare,
.input-group--select .input-group__selections__comma {
	font-size: 13px !important;
}

.all-sum h5 {
	margin-bottom: 0;
}
.all-sum .input-group {
	padding-top: 0;
}

.spending-table tbody td:first-child {
	padding: 0 !important;
}

.toolbar__content {
	height: 50px !important
}

.table-even tr:nth-child(even) {
	background: #f8f8f8;
}
.table-even th,
.table-even td {
	border: 1px solid rgba(0,0,0,.12);
}

.navigation-drawer--permanent.navigation-drawer--clipped, .navigation-drawer--permanent.navigation-drawer--floating, .navigation-drawer--persistent.navigation-drawer--clipped, .navigation-drawer--persistent.navigation-drawer--floating {
	margin-top: 50px !important;
	max-height: calc(100vh - 50px) !important;
}

.dropdown-bg li {
	background: #fff !important;
}

#completedTodos li {
	transition: all .4s;
}

.application--light .small-dialog__actions, .application--light .small-dialog__content {
		box-shadow: 0 2px 10px 0 rgba(0,0,0,.2) !important;
}

.post {
	border: 1px solid #e5e5e5;
	overflow: hidden;
	margin-bottom: 25px;
	padding: 15px;
}

.inc-type i,
.pur-type i,
.pur-type .input-group__details,
.inc-type .input-group__details {
	display: none;
}
.pur-type .input-group--dirty,
.inc-type .input-group--dirty {
	padding-top: 0;
}
.chip {
	opacity: .5 !important;
}
td .btn--icon {
	height: 20px;
	width: 20px;
}
td .btn__content .icon {
	font-size: 15px;
}
table.table tbody td, table.table tbody th {
	height: auto !important;
}

.chip {
	margin: 5px !important;
}


.grey-border {
	border: 1px solid rgba(0,0,0,.1);
}

.table-section {
	position: relative;
}

.table-section .dialog__container {
  position: absolute;
  bottom: 6px;
  left: 4px;

}

.category-container .input-group {
	padding-top: 0;
}