@import './../../components/money/money.css';
@import './../../components/targets/targets.css';


/* Vuetify css global changes */
.picker__title {
	background: rgb(10, 218, 10) !important;
}
.input-group__details:after {
	background: rgb(10, 218, 10) !important;
}
#app nav {
	position: fixed;
}
main {
	padding-top: 64px;
}
.application--light .navigation-drawer {
	border-right: 1px solid #f1f1f1;
	background: #f5f5f5 !important;
}
.application .theme--light.navigation-drawer .list {
	background: #f5f5f5 !important;
}
.application--light {
	background: #fff !important;
}
.application--light .input-group:not(.input-group--error) .input-group__details:before {
	background: rgba(0,0,0,0.10) !important;
}
#main-preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.list__tile--active {
	background: #fefefe;
	color: rgba(0,0,0,.87) !important;
}

.navigation-drawer--permanent.navigation-drawer--open:not(.navigation-drawer--right):not(.navigation-drawer--clipped):not(.navigation-drawer--floating)~.toolbar, .navigation-drawer--permanent.navigation-drawer--open:not(.navigation-drawer--right)~.footer:not(.footer--fixed):not(.footer--absolute), .navigation-drawer--permanent.navigation-drawer--open:not(.navigation-drawer--right)~main, .navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open:not(.navigation-drawer--right):not(.navigation-drawer--clipped):not(.navigation-drawer--floating)~.toolbar, .navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open:not(.navigation-drawer--right)~.footer:not(.footer--fixed):not(.footer--absolute), .navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open:not(.navigation-drawer--right)~main {
	padding-left: 55px !important;
}
.navigation-drawer {
	width: 55px !important;
}


tbody td:first-child {
	padding: 0 !important;
}


.navigation-drawer--permanent.navigation-drawer--clipped, .navigation-drawer--permanent.navigation-drawer--floating, .navigation-drawer--persistent.navigation-drawer--clipped, .navigation-drawer--persistent.navigation-drawer--floating {
	margin-top: 64px !important;
	max-height: calc(100vh - 64px) !important;
}


.inc-type i,
.pur-type i,
.pur-type .input-group__details,
.inc-type .input-group__details {
	display: none;
}
.pur-type .input-group--dirty,
.inc-type .input-group--dirty {
	padding-top: 0;
}

.iput-group--text-field input, 
.input-group--text-field textare,
.input-group--select .input-group__selections__comma {
	font-size: 13px !important;
}










