.navigation {
  width: 50px;
  position: fixed;
  left: 0;
  top: 0;
  background: #00C90D;
  height: 100%;
}
.navigation-btn {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  border-radius: 0;
  padding: 7px 0;
  cursor: pointer;
}

.navigation a {
  overflow: hidden;
  display: block;
}
.navigation-btn:hover {
  background: rgba(255,255,255,0.3);
}


.router-link-active .navigation-btn {
  background: rgba(255,255,255,0.3);
}

.navigation-bottomBtn {
  position: absolute;
  bottom: 0;
  width: 50px;
}