.modal-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
  z-index: 100;
}

.modal-body {
  position: absolute;
  background: #fff;
  top: 60px;
  left: 50%;
  width: 290px;
  transform: translate(-50%);
  z-index: 110;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 10px 0px rgba(0,0,0,.1);
}