<div class="auth">
  <h5 class="light-text">Sign up</h5>
  <form @submit.prevent="onSignup">
    <input
      name="email"
      id="email"
      label="E-mail"
      v-model="email"
      type="email"
      required
    ></input>

    <input
      name="password"
      label="Password"
      v-model="password"
      id="password"
      type="password"
      required
    ></input>      

    <input
      name="confirmPassword"
      label="Confirm password"
      v-model="confirmPassword"
      id="confirmPassword"
      type="password"
      required
    ></input>   
    
    <button type="submit">Sign up</button>
    <button @click="clear">clear</button>
  </form>
</div>